* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f8f9;
}

header {
  background-color: white;
  height: 70px;
}

.text-font {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 70%;
  margin: 50px auto;
  background-color: white;
}

/* Logo e titolo Toboolist */
.main-logo {
  height: 50px;
  display: inline-block;
  margin: 15px;
}

.logo {
  height: 100%;
  margin-left: 20px;
  vertical-align: bottom;
}

.title-toboolist {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 50px;
  display: inline-block;
}


/* Bottoni Add Task e Add Section */
.main-header {
  height: 50px;
  border-bottom: 3px solid #f6f8f9;
}

.add-task, .add-section {
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 5px;
  margin-top: 15px;
  display: inline-block;
}

.add-task {
  background-color: #47adf1;
  color: white;
  margin-left: 70px;
}

.add-section {
  background-color: white;
  color: #ced2d7;
  border: #ced2d7 solid 1px;
}


/* Tak List */
.list-wrapper {
  margin-bottom: 20px;
}

.drop-down-arrow {
  height: 15px;
}

.task-list {
    margin-left: 70px;
    padding: 40px 0px;
}

.task-title {
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
}

.single-list-task {
  line-height: 16px;
  margin: 15px 0px;
}


/* Icon check e cross */
.icon {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  border: solid 1px;
  text-align: center;
}

.check {
  color: green;
  border-color: green;
}

.cross {
  color: red;
  border-color: red;
}


/* Bottoni Editorial, Q1 Goals, Recruiting, Mobile, Website, Sales */

.colored-button {
  color: white;
  font-size: 10px;
  font-weight: 700;
  padding: 5px 10px;
  height: 20px;
  border-radius: 10px;
}

.button-blue {
  background-color: #45abea;
}

.button-purple {
  background-color: #9c72e4;
}

.button-green {
  background-color: #64c0a9;
}

.button-orange {
  background-color: #f29e33;
}

.button-pink {
  background-color: #d863a1;
}

.button-lightgreen {
  background-color: #b0c926;
}