* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f8f9;
}

header {
  background-color: white;
}

.main-logo {
  height: 140px;
}

.logo {
  margin-left: 20px;
  vertical-align: sub;
}

.title-toboolist {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 140px;
}

.text-font {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 70%;
  height: 50px;
  margin: 0 auto;
  background-color: white;
}

.add-task, .add-section {
  padding: 5px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 15%;
  margin: 15px 5px;
}

.add-task {
  background-color: #47adf1;
  color: white;
}

.add-section {
  background-color: white;
  color: #ced2d7;
  border: #ced2d7 solid 1px;
}